/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #00d0c2;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
  max-height: 600px;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;

}

.col-60 {
  background: none;
}



#titulo {
  background-color: #00d0c2;
  color: white;
  height: 50%;
  width: 100%;
  font-size: 35px;
  padding-left: auto;
  padding-right: auto;
}

#titulo p {
  margin : 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#instrucciones, #objetivo, #ultimo-mov {
  padding-top: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 23px;
  color: #00d0c2;
  /*color: #144149;*/
}


#imagen-objetivo {
  max-width: 250px;
  max-height: 250px;
  padding-top: 10px;
}

#lista-instrucciones{
  margin-top:2%;
}

#juego {
  background-color: pink;
  height: 600px;
  width: 600px;
}
.imagen-pieza{
  max-width: 100%;
  max-height: 100%;
}
.pieza {
  float: left;
  padding: 0;
  width: 200px;
  height: 200px;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
